.gdbar img {
  width: 600px !important;
  height: 370px !important;
  margin: 18px 18px;
}

.gdbar {
  width: 700px !important;
  height: 400px !important;
}

slides > slide:not(.nobackground):before {
  width: 60px;
  height: 45px;
  background-size: 60px 45px;
}